@import url('./layout.css');

#bg-container {
    position: fixed;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    background-image: url('../images/acting_bgDesktop.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    transition: all 600ms ease-in-out;
}
#shading {
    background-color: rgba(0, 0, 0, .2);
	background-image: linear-gradient(to right, rgba(0, 0, 0, .95),rgba(255, 255, 255, 0) 25%);
}

#page-links {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    flex-direction: row;
    text-transform: uppercase;
}
#page-links a, 
#page-links a:link, 
#page-links a:visited {
    color: #93adb6;
    margin-right: 40px;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    transition:color 250ms ease-in-out;
}
#page-links a:hover, 
#page-links a:active {
    color: #656dab;
}
#actors-content p {
    line-height: 1.6rem;
    text-shadow: 1px 1px #000;
}
#actors-content p a,
#actors-content p a:link,
#actors-content p a:visited {
    color: #93adb6;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
    transition:color 250ms ease-in-out;
}
#actors-content p a:hover, 
#actors-content p a:active {
    color: #656dab;
}
