@import url('./layout.css');

#bg-container {
    position: fixed;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    background-image: url('../images/general_bgDesktop.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    transition: all 600ms ease-in-out;
}
#shading {
    background-color: rgba(0, 0, 0, .2);
	background-image: linear-gradient(to right, rgba(0, 0, 0, .95),rgba(255, 255, 255, 0) 25%);
}

#page-links {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    flex-direction: row;
    text-transform: uppercase;
}
#page-links a, 
#page-links a:link, 
#page-links a:visited {
    color: #93adb6;
    margin-right: 40px;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    transition:color 250ms ease-in-out;
}
#page-links a:hover, 
#page-links a:active {
    color: #656dab;
}
#about-content p {
    line-height: 1.6rem;
    text-shadow: 1px 1px #000;
}
#about-content p a,
#about-content p a:link,
#about-content p a:visited {
    color: #93adb6;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
    transition:color 250ms ease-in-out;
}
#about-content p a:hover, 
#about-content p a:active {
    color: #656dab;
}
#team {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: flex-start;
}
a.member, a.member:link, a.member:visited {
    width: 20%;
    margin-right: 10%;
    text-align: center;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    transition: all 250ms ease-in-out;
}
a.member img {
    width: 100%;
    border: solid 2px #333;
    transition: all 250ms ease-in-out;
}
.member-name {
    font-size: 1.2rem;
}
.member-title {
    font-size: 0.9rem;
}
a.member:hover, a.member:active {
    color: #93adb6;
}
a.member:hover img, a.member:active img {
    border-color: #93adb6;
}
#bio-content {
    margin-bottom: 40px;
}
#bio-content img {
    float: left;
    margin: 20px 25px 5px 0;
    border: solid 2px #333;
}
#contact-content {
    display: flex;
    flex-direction: row;
}
#contact-form label {
    position: relative;
    float: left;
    display: block;
    width: 100%;
}
input, 
select, 
textarea {
    position: relative;
    float: left;
    clear: left;
    width: 100%;
    padding: .5em;
    margin: .75em 0 1.25em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
textarea {
    width: calc(100% - 1em);
}
button {
    position: relative;
    float: right;
    clear: left;
    padding: .5em 3em;
    margin: .5em 0;
    background-color:rgb(147, 173, 182);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px white;
    text-decoration: none;
    text-align: center;
    transition:background-color 250ms ease-in-out;
}
button:hover {
    color: white;
    background-color: rgba(147, 173, 182, 0.7);
}
#contact-content {
    width: 80%;
}
#contact-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
#contact-form div {
    padding: 0 40px;
}