@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('./nav.css');

body { 
    margin: 0;
    padding: 0;
    background:#000 url('../images/gl_background.png') repeat center center fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
#shading {
	position: absolute;
	top: 0;
	left: 0;
    bottom: 0;
	width:100%;
	background-image: linear-gradient(to right, rgba(0, 0, 0, .95),rgba(255, 255, 255, 0) 25%);
    overflow-y: auto;
    overflow-x: hidden;
}
#main {
    transition: all 600ms ease-in-out;
}
.container {
    position: absolute;
    top: 0;
    width: 88%;
    padding: 0 6%;
}
main {
    position: relative;
    width: 75%;
    color: white;
}
main h1 {
    width: 100%;
    color: white;
    text-shadow: 1px 1px #000;
    font-weight: normal;
}
main section {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.unload-right {
    left: 0;
    transform: translateX(100vw);
}
.unload-left {
    left: 0;
    transform: translateX(-100vw);
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}
