#nav-menu .container {
    width: 88%;
    padding: 0 6%;
}
.container header {
    display: flex;
    width: 100%;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-between;
}
.container header #logo, 
.container header #logo-menu {
    justify-self: flex-start;
    height: 135px;
    width: 73px;
    background-image: url('../images/ghost_light_logo.png');
    background-size: contain;
    transition: background 187.5ms ease-in-out;
}
.container header #logo:hover, 
.container header #logo-menu:hover, 
.container header #logo:active, 
.container header #logo-menu:active {
    background-image: url('../images/ghost_light_logoOver.png');
}

#main-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
#main-menu li a, 
#main-menu li a:link, 
#main-menu li a:visited {
    display: flex;
    position: relative;
    margin-left: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition:color 250ms ease-in-out;
}
#main-menu li a:hover, 
#main-menu li a:active {
    color: #93adb6;
}
#main-menu li a span.material-icons {
    margin: -1x 0 0 0;
    padding-right: 10px;
}


#nav-menu {
    position: absolute;
    top:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    transition:all 500ms ease-in-out;
}

#nav-menu.hidden {
    transform: translateY(-100vh);
}
#nav-menu.visible {
    transform: translateY(0);
}

#sub-menu {
    display: flex;
    flex-flow: column;
    width: 60%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 20px;
    border: solid 2px #93adb6;
}
#close-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    margin: 0 -10px 0 0;
    padding: 0;
}
#close-menu li a, 
#close-menu li a:link, 
#close-menu li a:visited {
    display: flex;
    position: relative;
    margin-left: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition:color 250ms ease-in-out;
}
#close-menu li a:hover, 
#close-menu li a:active {
    color: #93adb6;
}
#close-menu li a span.material-icons {
    margin: -1x 0 0 0;
    padding-right: 10px;
    font-size: 2.2rem;
}
#close-menu li a#close-btn:hover, #close-menu li a#close-btn:active {
    color: white;
}

a#close-btn .material-icons::before {
    margin-right: -2.2rem;
    content: "highlight_off";
    color: rgb(216, 0, 0);
    transition: opacity 187.5ms ease-in-out;
}
a#close-btn .material-icons::after {
    content: "cancel";
    color: rgb(216, 0, 0);
    opacity: 0;
    transition: opacity 187.5ms ease-in-out;
}
a#close-btn:hover .material-icons::before, a#close-btn:active .material-icons::before {
    opacity: 0;
}
a#close-btn:hover .material-icons::after, a#close-btn:active .material-icons::after {
    opacity: 1;
}
#sub-menu nav ul#text-links {
    display: flex;
    flex-flow: row;
    list-style: none;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
#sub-menu nav ul#icon-links {
    display: flex;
    flex-flow: row;
    list-style: none;
    justify-content: center;
    width: 100%;
    padding: 0;
}
ul#text-links li {
    margin: 20px 20px 30px 20px;
    text-align: center;
}
ul#text-links li a,
ul#text-links li a:link,
ul#text-links li a:visited {
    color: #656dab;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
    transition:color 250ms ease-in-out;
}
ul#text-links li a:hover,
ul#text-links li a:active {
    color: #93adb6;
}

ul#icon-links li {
    width: 20%;
    margin: 10px 30px 40px 30px;
    text-align: center;
}

ul#icon-links li a,
ul#icon-links li a:link,
ul#icon-links li a:visited {
    width: 100%;
    padding-top: 100%;
    color: #656dab;
    text-decoration: none;
    border: solid 2px #93adb6;
    border-radius: 20px;
    transition:all 250ms ease-in-out;
}
ul#icon-links li a span {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding-top: 10px;
    color: #93adb6;
    transition:all 250ms ease-in-out;
}
ul#icon-links li a:hover,
ul#icon-links li a:active {
    color: #93adb6;
    border-color: #ffffff;
}
ul#icon-links li a:hover span,
ul#icon-links li a:active span {
    color: #ffffff;
}
a#workshop,
a#workshop:link,
a#workshop:visited {
    position: relative;
    display: block;
    background-image: url('../images/menu_workshop.png');
    background-size: contain;
    background-repeat: no-repeat;
}
a#workshop:hover,
a#workshop:active {
    background-image: url('../images/menu_workshopOver.png');
}
a#actors,
a#actors:link,
a#actors:visited {
    position: relative;
    display: block;
    background-image: url('../images/menu_actor.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 250ms ease-in-out;
}
a#actors:hover,
a#actors:active {
    background-image: url('../images/menu_actorOver.png');
}
a#models,
a#models:link,
a#models:visited {
    position: relative;
    display: block;
    background-image: url('../images/menu_model.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 250ms ease-in-out;
}
a#models:hover,
a#models:active {
    background-image: url('../images/menu_modelOver.png');
}
a#auditions,
a#auditions:link,
a#auditions:visited {
    position: relative;
    display: block;
    background-image: url('../images/menu_audition.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 250ms ease-in-out;
}
a#auditions:hover,
a#auditions:active {
    background-image: url('../images/menu_auditionOver.png');
}
a#career,
a#career:link,
a#career:visited {
    position: relative;
    display: block;
    background-image: url('../images/menu_career.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 250ms ease-in-out;
}
a#career:hover,
a#career:active {
    background-image: url('../images/menu_careerOver.png');
}
a#contact,
a#contact:link,
a#contact:visited {
    position: relative;
    display: block;
    background-image: url('../images/menu_contact.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 250ms ease-in-out;
}
a#contact:hover,
a#contact:active {
    background-image: url('../images/menu_contactOver.png');
}
#comm-partner {
    position: relative;
    display: block;
    margin: 30px auto;
    padding-top: 20px;
    width: 94%;
    text-align: center;
    color: white;
    border-top: solid 2px #93adb6;
}
#comm-partner h2 {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    color: white;
    height: fit-content;
    text-shadow: 1px 1px #000;
    font-weight: normal;
    font-size: 2em;
    margin: 20px 0;
}
#comm-partner p {
    display: block;
    width: 100%;
    height: fit-content;
    margin: 20px 0;
}
#comm-partner a,
#comm-partner a:link,
#comm-partner a:visited {
    color: #656dab;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
    transition:color 250ms ease-in-out;
}
#comm-partner a:hover,
#comm-partner a:active {
    color: #93adb6;
}
