/*
 *  --------------------------------------------------
 *  |   MAIN LAYOUT STYLES                           |
 *  --------------------------------------------------
 *  Project: Ghost Light Perfomance, Inc.
 *  Author: Jonathan Wheeler
*/

body {
    background: rgb(0, 0, 0) url('../assets/images/ghostlight_bg.png') repeat -50% 0% fixed;
    background-size: 85%;

    & > section {
        min-height: 100vh;
        width: 100%;
    }
}

.home {
    background: url('../assets/images/home_bg.jpg') repeat  right 45% top fixed;
    background-size: cover;
}

@media screen and (min-width: 360px) {
    .home {
        
    }
}

@media screen and (min-width: 375px) {
    .home {
        background: url('../assets/images/home_bg.jpg') repeat  right 50% top fixed;
        background-size: cover;
    }
}

@media screen and (min-width: 390px) {
    .home {
        background: url('../assets/images/home_bg.jpg') repeat  right 45% top fixed;
        background-size: cover;
    }
}

@media screen and (min-width: 410px) {
    
}

@media screen and (min-width: 425px) {
    
}

@media screen and (min-width: 540px) {
    body {
        background: rgb(0, 0, 0) url('../assets/images/ghostlight_bg.png') repeat -50% -17% fixed;
        background-size: 85%;
    }
    .home-content {
        background: url('../assets/images/home_bg.jpg') repeat  right 50% top fixed;
        background-size: cover;
    }
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 820px) {
    body {
        background: rgb(0, 0, 0) url('../assets/images/ghostlight_bg.png') repeat -55% -10% fixed;
        background-size: 85%;
    }
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 1280px) {
    body {
        background: rgb(0, 0, 0) url('../assets/images/ghostlight_bg.png') repeat -55% -10% fixed;
        background-size: 30%;
    }
    .home-content {
        background: url('../assets/images/home_bg.jpg') repeat  right 50% top fixed;
        background-size: cover;
    }
}

@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 1600px) {

}

@media screen and (min-width: 1920px) {
    body {
        background: rgb(0, 0, 0) url('../assets/images/ghostlight_bg.png') repeat -50% -10% fixed;
        background-size: 30%;
    }
}