/*
 *  --------------------------------------------------
 *  |   MAIN LAYOUT STYLES                           |
 *  --------------------------------------------------
 *  Project: Ghost Light Perfomance, Inc.
 *  Author: Jonathan Wheeler
*/

body {
    background: rgb(0, 0, 0) url('../assets/images/ghostlight_bg.png') repeat -50% 0% fixed;
    background-size: 85%;
    inset: 0;
    position: absolute;

    &> section {
        min-height: 100vh;
        overflow-x: hidden;
        position: relative;
        width: 100%;
    }
}

.container {
    padding: 0 2rem;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 360px) {
    .container {
        padding: 0 3rem;
    }
}

@media screen and (min-width: 375px) {
    
}

@media screen and (min-width: 390px) {
    
}

@media screen and (min-width: 410px) {
    
}

@media screen and (min-width: 425px) {
    
}

@media screen and (min-width: 540px) {
    body {
        background: rgb(0, 0, 0) url('../assets/images/ghostlight_bg.png') repeat -50% -17% fixed;
        background-size: 85%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 4rem;
    }
}

@media screen and (min-width: 820px) {
    body {
        background: rgb(0, 0, 0) url('../assets/images/ghostlight_bg.png') repeat -55% -10% fixed;
        background-size: 85%;
    }
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 1280px) {
    body {
        background: rgb(0, 0, 0) url('../assets/images/ghostlight_bg.png') repeat -55% -10% fixed;
        background-size: 30%;
    }
    .container {
        padding: 0 4rem;
    }
}

@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 1600px) {

}

@media screen and (min-width: 1920px) {
    body {
        background: rgb(0, 0, 0) url('../assets/images/ghostlight_bg.png') repeat -50% -10% fixed;
        background-size: 30%;
    }
    .container {
        padding: 0 12rem;
    }
}