/*
 *  --------------------------------------------------
 *  |   MAIN COLOR VARIABLES                         |
 *  --------------------------------------------------
 *  Project: Ghost Light Perfomance, Inc.
 *  Author: Jonathan Wheeler
*/

$gl__light: rgb(146, 172, 181);
$gl__dark: rgb(101,109,171);

$gl__placeholder: rgb(161, 161, 161);

$gl__grey: rgb(153, 153, 153);
$gl__grey-black: rgb(51, 51, 51);
$gl__grey-dark: rgb(102, 102, 102);
$gl__grey-light: rgb(230, 231, 232);
$gl__grey-medium: rgb(197, 199, 201);

$gl__red: rgb(172, 60, 61);
$gl__blue: rgb(63, 88, 159);
$gl__green: rgb(102, 171, 60);
$gl__orange: rgb(246, 133, 31);
$gl__yellow: rgb(247, 187, 23);
$gl__white: rgb(245, 245, 246);