/*
 *  --------------------------------------------------
 *  |   COMPANY PAGES STYLES                         |
 *  --------------------------------------------------
 *  Project: Ghost Light Perfomance, Inc.
 *  Author: Jonathan Wheeler
*/

.company {
    background: url('../assets/images/company_bg.jpg') repeat  right 25% top fixed;
    background-size: cover;
    overflow-x: hidden;
    transform: translateX(0);
    @include animate( all, 250ms );

    &::before {
        background-image: linear-gradient(to right, rgba(0, 0, 0, .95),rgba(0, 0, 0, .35) 50%);
        content: '';
        inset: 0;
        position: absolute;
    }

    .about-content {
        margin-top: 2rem;
        transform: translateX(0);
        @include animate( all, 250ms );

        h1 {
            color: white;
            font-size: 2.4rem;
            font-weight: 400;
            margin: 0 0 1rem;
            text-shadow: 1px 1px 1px black;
        }

        nav.page-links {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin: 0 0 2rem;

            a {
                color: $gl__light;
                font-size: 1.1rem;
                font-weight: 600;
                margin: .5rem 1.5rem .5rem 0;
                text-decoration: none;
                text-shadow: 1px 1px 1px black;
                text-transform: uppercase;
                white-space: nowrap;
                @include animate( color, 250ms );

                &:active, &:hover {
                    color: $gl__dark;
                }
            }
        }

        p {
            color: $gl__white;
            font-size: 1.2rem;
            letter-spacing: .05rem;
            margin: 0 0 1.5rem;
            text-shadow: 1px 1px 1px black;
        }

        ul {
            color: $gl__white;
            font-size: 1.2rem;
            letter-spacing: .05rem;
            text-shadow: 1px 1px 1px black;

            li {
                margin-bottom: 1rem;
            }
        }

        a {
            color: $gl__light;
            font-size: 1.2rem;
            font-weight: 600;
            margin: .5rem 1.5rem .5rem 0;
            text-decoration: none;
            text-shadow: 1px 1px 1px black;
            text-transform: uppercase;
            white-space: nowrap;
            @include animate( color, 250ms );

            &:active, &:hover {
                color: $gl__dark;
            }
        }

        #team {
            align-items: flex-start;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 2rem;
            width: 100%;

            a {
                align-items: center;
                color: $gl__white;
                display: flex;
                flex-direction: column;
                margin: 2rem 0 2rem;
                text-align: center;
                text-decoration: none;
                text-shadow: 1px 1px 1px black;
                text-transform: none;
                width: 100%;

                img {
                    border: solid 1px $gl__grey-dark;
                    border-radius: .5rem;
                    height: 20rem;
                    margin: 0;
                    object-fit: cover;
                    object-position: center top;
                    overflow: hidden;
                    padding: 0;
                    width: 20rem;
                }

                .member-name {
                    font-size: 1.8rem;
                    font-weight: 700;
                }
                .member-title {
                    color: $gl__grey;
                    font-size: 1.1rem;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                &:active, &:hover {
                    img {
                        border-color: $gl__light;
                    }

                    .member-name {
                        color: $gl__light;
                    }
                    .member-title {
                        color: $gl__light;
                    }
                }

            }
        }

        #bio-content {
            align-items: flex-start;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 2rem 0;

            img {
                border: solid 1px $gl__grey-dark;
                margin-bottom: 2rem;
                width: 100%;
            }

            p {
                color: $gl__white;
                font-size: 1.2rem;
                letter-spacing: .05rem;
                margin: 0 0 1.5rem;
                text-shadow: 1px 1px 1px black;
                width: 100%;
            }
        }

        form.contact-form {
            display: flex;
            flex-direction: column;
            width: 100%;

            .left, .right {
                flex: 0 100%;
            }
            label {
                color: $gl__white;
                display: block;
                font-size: 1.2rem;
                letter-spacing: .05rem;
                margin: 0 0 .5rem;
                text-shadow: 1px 1px 1px black;
            }
            input, textarea, select {
                background: rgba($gl__white, .85);
                border: solid 1px $gl__light;
                border-radius: .5rem;
                font-size: 1.2rem;
                margin-bottom: 1.5rem;
                padding: .5rem .5rem;
                width: 100%;
            }
            textarea {
                height: 7rem;
            }
            button {
                background: rgba($gl__light, 1);
                border: solid 1px $gl__white;
                border-radius: .5rem;
                color: $gl__white;
                display: block;
                float: right;
                font-size: 1.4rem;
                margin: 0 0 2rem;
                padding: .5rem 2rem;
                text-align: center;
                text-decoration: none;
                width: fit-content;
                @include animate( all, 250ms );

                &:active, &:hover {
                    background: rgba($gl__light, .7);
                }
            }
        }

        p.footer-info {
            color: $gl__grey;
            font-size: 1.2rem;
            padding-bottom: 2rem;
            text-align: left;
            text-decoration: none;
            text-shadow: 1px 1px 2px black, 0 0 0.2em black;
        }

        &.hide {
            display: none;
        }
        
        &.right {
            transform: translateX(100vw);
        }
        &.left {
            transform: translateX(-100vw);
        }

    }

    &.hide {
        display: none;
    }
    
    &.right {
        transform: translateX(100vw);
    }
    &.left {
        transform: translateX(-100vw);
    }

}

@media screen and (min-width: 360px) {
    .company {
        .about-content {
            h1 {
                font-size: 2.8rem;
                margin: 5rem 0 2rem;
            }

            nav.page-links {
                margin: 0 0 2rem;
    
                a {
                    font-size: 1.3rem;
                    font-weight: 600;
                    margin: .5rem 1.5rem .5rem 0;
                }
            }
    
            p {
                font-size: 1.3rem;
                margin: 0 0 1.5rem;
            }
    
            ul {
                font-size: 1.3rem;
    
                li {
                    margin-bottom: 1rem;
                }
            }

            a {
                font-size: 1.3rem;
                margin: .5rem 1.5rem .5rem 0;
            }

            #team {
    
                a {
                    flex-direction: column;
                    margin: 2rem 0 2rem;
                    width: 100%;
    
                    img {
                        border: solid 1px $gl__grey-dark;
                        border-radius: .5rem;
                        height: 20rem;
                        margin: 0;
                        object-fit: cover;
                        object-position: center top;
                        overflow: hidden;
                        padding: 0;
                        width: 20rem;
                    }
    
                    .member-name {
                        font-size: 1.8rem;
                        font-weight: 700;
                        margin-top: .5rem;
                    }
                    .member-title {
                        color: $gl__grey;
                        font-size: 1.2rem;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
            }
    
            #bio-content {
                align-items: flex-start;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 2rem 0;
    
                img {
                    border: solid 1px $gl__grey-dark;
                    margin-bottom: 2rem;
                    width: 30rem;
                }
    
                p {
                    font-size: 1.3rem;
                    letter-spacing: .05rem;
                    margin: 0 0 1.5rem;
                }
            }
    
            p.footer-info {
                font-size: 1.3rem;
                padding-bottom: 2rem;
            }
        }
    }
}

@media screen and (min-width: 375px) {
    .company {
        background: url('../assets/images/company_bg.jpg') repeat  right 60% top fixed;
        background-size: cover;

        .about-content {
            h1 {
                font-size: 2.8rem;
                margin: 4rem 0 2rem;
            }
        }
    }
}

@media screen and (min-width: 390px) {
    .company {

        .about-content {
            h1 {
                font-size: 3rem;
                margin: 6rem 0 2rem;
            }
        }
    }
}

@media screen and (min-width: 410px) {
    
}

@media screen and (min-width: 425px) {
    
}

@media screen and (min-width: 540px) {
    .company {
        background: url('../assets/images/company_bg.jpg') repeat  right 40% top fixed;
        background-size: cover;

        .about-content {
            h1 {
                font-size: 3.2rem;
                margin: 5rem 0 2rem;
            }

            nav.page-links {
                margin: 0 0 2rem;
    
                a {
                    font-size: 1.4rem;
                    font-weight: 600;
                    margin: 1rem 2rem 1rem 0;
                }
            }
    
            p {
                font-size: 1.4rem;
                margin: 0 0 1.5rem;
            }
    
            ul {
                font-size: 1.4rem;
    
                li {
                    margin-bottom: 1rem;
                }
            }

            a {
                font-size: 1.4rem;
                margin: .5rem 1.5rem .5rem 0;
            }

            #team {
                justify-content: flex-start;
    
                a {
                    flex-direction: column;
                    margin: 2rem;
                    width: unset;
    
                    img {
                        border: solid 1px $gl__grey-dark;
                        border-radius: .5rem;
                        height: 20rem;
                        margin: 0;
                        object-fit: cover;
                        object-position: center top;
                        overflow: hidden;
                        padding: 0;
                        width: 20rem;
                    }
    
                    .member-name {
                        font-size: 1.8rem;
                        font-weight: 700;
                        margin-top: .5rem;
                    }
                    .member-title {
                        color: $gl__grey;
                        font-size: 1.2rem;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
            }
    
            #bio-content {
                align-items: flex-start;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 2rem 0;
    
                img {
                    border: solid 1px $gl__grey-dark;
                    margin-bottom: 2rem;
                    width: 30rem;
                }
    
                p {
                    font-size: 1.3rem;
                    letter-spacing: .05rem;
                    margin: 0 0 1.5rem;
                }
            }

            form.contact-form {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
    
                .left, .right {
                    flex: 0 45%;
                }

                textarea {
                    height: 10rem;
                }
            }
    
            p.footer-info {
                font-size: 1.3rem;
                padding-bottom: 2rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .company {
        
        .about-content {
            h1 {
                font-size: 3.2rem;
                margin: 5rem 0 2rem;
            }

            nav.page-links {
                margin: 0 0 2rem;
    
                a {
                    font-size: 1.2rem;
                    font-weight: 600;
                    margin: 1rem 1.7rem 1rem 0;
                }
            }
    
            p {
                font-size: 1.6rem;
                margin: 0 0 2rem;
            }
    
            ul {
                font-size: 1.6rem;
    
                li {
                    margin-bottom: 1.5rem;
                }
            }

            a {
                font-size: 1.6rem;
                margin: .5rem 1.5rem .5rem 0;
            }

            #team {
                justify-content: flex-start;
    
                a {
                    flex-direction: column;
                    margin: 2rem;
                    width: unset;
    
                    img {
                        border: solid 1px $gl__grey-dark;
                        border-radius: .5rem;
                        height: 18rem;
                        margin: 0;
                        object-fit: cover;
                        object-position: center top;
                        overflow: hidden;
                        padding: 0;
                        width: 18rem;
                    }
    
                    .member-name {
                        font-size: 1.8rem;
                        font-weight: 700;
                        margin-top: .5rem;
                    }
                    .member-title {
                        color: $gl__grey;
                        font-size: 1.2rem;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
            }
    
            #bio-content {
                display: block;
                margin: 2rem 0;
    
                img {
                    border: solid 1px $gl__grey-dark;
                    float: left;
                    margin: 0 2rem 2rem 0;
                    width: 40%;
                }
    
                p {
                    float: right;
                    font-size: 1.3rem;
                    height: fit-content;
                    letter-spacing: .05rem;
                    margin: 0 0 1.5rem;
                    padding-left: 2rem;
                    width: calc(60% - 2rem);
                }
            }
    
            p.footer-info {
                clear: both;
                font-size: 1.3rem;
                padding-bottom: 2rem;
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 820px) {
    .company {
        
        .about-content {
            nav.page-links {
                margin: 0 0 2rem;
    
                a {
                    font-size: 1.2rem;
                    font-weight: 600;
                    margin: 1rem 2.5rem 1rem 0;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .company {
        
        .about-content {
            nav.page-links {
                margin: 0 0 2rem;
    
                a {
                    font-size: 1.6rem;
                    font-weight: 600;
                    margin: 1rem 2.5rem 1rem 0;
                }
            }
            form.contact-form {
                width: 80%;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .company {
        background: url('../assets/images/company_bg.jpg') repeat  right 50% top fixed;
        background-size: cover;
        @include animate( all, 500ms );

        .about-content {
            @include animate( all, 500ms );
            
            #bio-content {
                display: block;
                margin: 2rem 0;
    
                img {
                    border: solid 1px $gl__grey-dark;
                    float: left;
                    margin: 0 2rem 2rem 0;
                    width: 20%;
                }
    
                p {
                    float: right;
                    font-size: 1.3rem;
                    height: fit-content;
                    letter-spacing: .05rem;
                    margin: 0 10% 1.5rem 0 ;
                    padding-left: 2rem;
                    width: calc(70% - 2rem);
                }
            }

            form.contact-form {
                width: 50%;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    
}

@media screen and (min-width: 1600px) {
    .company {
        .about-content {
            
            #bio-content {
                display: block;
                margin: 2rem 0;
    
                img {
                    border: solid 1px $gl__grey-dark;
                    float: left;
                    margin: 0 2rem 2rem 0;
                    width: 20%;
                }
    
                p {
                    float: right;
                    font-size: 1.3rem;
                    height: fit-content;
                    letter-spacing: .05rem;
                    margin: 0 25% 1.5rem 0 ;
                    padding-left: 2rem;
                    width: calc(55% - 2rem);
                }
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .company {
        .about-content {
            
            #bio-content {
                display: block;
                margin: 2rem 0;
    
                img {
                    border: solid 1px $gl__grey-dark;
                    float: left;
                    margin: 0 2rem 2rem 0;
                    width: 20%;
                }
    
                p {
                    float: right;
                    font-size: 1.3rem;
                    height: fit-content;
                    letter-spacing: .05rem;
                    margin: 0 30% 1.5rem 0 ;
                    padding-left: 2rem;
                    width: calc(50% - 2rem);
                }
            }
        }
    }
}